body{
    margin: 0;
    padding: 0;
}
h1, h2, h3, p{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
ul, ol{
    list-style: none;
    padding: 0;
    margin: 0;
}
button{
    border: 0;
    cursor: pointer;
}
.container{
    max-width: 1280px;
    margin: 0 auto;
}
summary{
    cursor: pointer;
    list-style: none;
    position: relative;
}
.header-menu{
    padding-top: 46px;
    padding-bottom: 132px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
    display: flex;
}
.menu>li{
    margin-right: 40px;
}
.menu>li:last-child{
    margin-right: 0;
}
.menu>li>a{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #000;
}
.menu>li>a:hover{
    font-weight: 600;
    color: #fa002c;
}
.contacts{
    display: flex;
    align-items: center;
}
.social{
    display: flex;
    margin-right: 32px;
}
.social>li{
    margin-right: 12px;
}
.social>li:last-child{
    margin-right: 0;
}
.phone{
    display: flex;
    flex-direction: column;
}
.phone>a{
    margin-bottom: 4px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #000;
}
.phone>a:last-child{
    margin-bottom: 0;
}
h1{
    font-family: "Inter", sans-serif;
    max-width: 672px;
    font-weight: 900;
    font-size: 52px;
    line-height: 119%;
    color: #000;
    margin-bottom: 20px;
}
.header-info>p{
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 160%;
    color: #000;
    margin-bottom: 44px; 
    max-width: 600px;  
}
.header-info>button{
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 117%;
    color: #fff;
    background: #f50e30;
    border-radius: 8px;
    padding: 18px 54.5px;
    margin-bottom: 151px;
}
.header-info{
    position: relative;
}
.header-info>img{
    position: absolute;
    right: -116px;
    top: 0;
    z-index: -1;
}
.buy{
    background: #f4f6f8;
    padding-top: 129px;
    padding-bottom: 119px;
}
.title{
    font-family: "Inter", sans-serif;
    font-weight: 800;
    font-size: 44px;
    line-height: 123%;
    color: #000;
}
.center{
    text-align: center;
}
.buy-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.buy-info>h2{
    max-width: 1014px;
}
.buy-info>p{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 133%;
    color: #000;
    margin-top: 24px;
    margin-bottom: 28px;
}
.buy-info>button{
    font-family: "SF Pro Display", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    color: #fff;
    background: #f50e30;
    border-radius: 8px;
    padding: 14px 40px;
    margin-bottom: 40px;
}
.buy-box{
    display: flex;
    justify-content: space-between;
}
.buy-item{
    box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.08);
    background: #fff;
    border-radius: 20px;
    position: relative;
    padding: 21px 54px 91px 32px;
}
.buy-item>h3{
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 122%;
    color: #000;
    margin-bottom: 27px;
}
.buy-item>p{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    color: rgba(0, 0, 0, 0.8);
    max-width: 302px;
}
.buy-item>img{
    position: absolute;
    right: 0px;
    bottom: 0px;
}
.buy-item>.trinket{
    right: 30px;
    bottom: 18px;
}
.buy-item>.fer{
    right: 10.61px;
}
.buy-item>.coins{
    right: 16px;
    bottom: 17px;
}
.about{
    display: flex;
}
.about-img{
    flex-basis: 47.29%;
    background: url('../img/about.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.about-info{
    flex-basis: 52.71%;
    padding: 52px 0 50px 100px;
}
.about-info>p{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 133%;
    color: #000;
    max-width: 512px;
    margin-top: 12px;
    margin-bottom: 24px;
}
.about-info>button{
    font-family: "SF Pro Display", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    color: #fff;
    background: #f50e30;
    border-radius: 8px;
    padding: 14px 40px;
}
.about-info>ul>li{
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    color: #000;
    margin-bottom: 38px;
    margin-left: 76px;
    position: relative;
}
.about-info>ul>li::before{
    position: absolute;
    content: '';
    width: 52px;
    height: 52px;
    background-color: #f50e30;
    background-image: url('../img/about-car.svg');
    background-repeat: no-repeat;
    background-size: 36px;
    background-position: center;
    border-radius: 100%;
    left: -76px;
    top: -15px;
}
.about-info>ul>li:nth-child(2):before{
    background-image: url('../img/about-ochive.svg');
}
.about-info>ul>li:last-child:before{
    background-image: url('../img/about-car2.svg');
}
.about-info>div{
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #000;
    max-width: 488px;
    padding: 9px 17px;
    border: 3px solid rgba(250, 0, 44, 0.15);
    border-radius: 10px;
    margin-bottom: 32px;
    padding: 12px 20px;
    box-sizing: border-box;
}
.buyCars{
    background: #f4f6f8;;
    padding: 100px 0;
}
.buyCars>div>p{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 117%;
    color: #000;
    margin-top: 20px;
    margin-bottom: 40px;
}
.mySwiper>.swiper-wrapper>.swiper-slide{
    box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.08);
    background: #fff;
    border-radius: 20px;
    padding: 20px 24px;
    box-sizing: border-box;
}
.swiper-slide>img{
    border-radius: 12px;
    width:363px;
    height: 261px;
}
.swiper-slide>h3{
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    color: #000;
    margin-top: 24px;
    margin-bottom: 16px;
}
.stats{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 16px;
}
.stats:last-child{
    margin-bottom: 24px;
}
.stats-dote{
    border-bottom: 1px dashed #c1c1c1;
    flex-grow: 1;
    margin: 0 8px;
    height: 1px;
    margin-bottom: 3px;
}
.stats-name{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    color: rgba(0, 0, 0, 0.5);
}
.stats-value{
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    text-align: right;
    color: #000;
}
.price{
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}
.price:last-child{
    margin-bottom: 24px;
}
.price-info{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    color: #000;
    max-width: 173px;
}
.price-second{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    text-align: right;
    color: #000;
}
.price-key{
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-size: 24px;
    line-height: 100%;
    color: #fa002c;
}
.swiper-slide>button{
    font-family: "SF Pro Display", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    color: #fff;
    background: #fa002c;
    border-radius: 8px;
    padding: 14px 98px;
}
.swiper-pagination{
    bottom: -4px !important;
}
.swiper-wrapper{
    padding-bottom: 28px;
}
.slider-btn{
    position: relative;
}
.left, .right{
    position: absolute;
    z-index: 2;
    top: 329px;
}
.left{
    left: -53px;
}
.right{
    right: 0;
    right: -53px;
}
.left>img, .right>img{
    cursor: pointer;
}
.swiper-pagination-bullet-active{
    background: #fa002c !important;
}
.swiper-pagination-bullet{
    width: 100px !important;
    height: 4px !important;
    border-radius: 0 !important;
}
.budget>div{
    padding: 143px 0 78px 0;
    display: flex;
    justify-content: space-between;
}
.budget>div>img{
    border-radius: 20px;
}
.budget>div>div{
    padding: 0 0 39px 60px;
}
.budget>div>div>h2{
    max-width: 566px;
}
.budget>div>div>p{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: rgba(0, 0, 0, 0.8);
    max-width: 566px;
    margin-top: 20px;
    margin-bottom: 32px;
}
.budget>div>div>button{
    font-family: "SF Pro Display", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    color: #fff;
    background: #f50e30;
    border-radius: 8px;
    padding: 14px 40px;
}
.videoYT{
    padding: 100px 0;
    background: #f4f6f8;
}
.videoYTClider{
    padding: 0 30px;
}
.videoYTClider>h2{
    margin-bottom: 40px;
}
.myvideo>.swiper-wrapper>.swiper-slide{
    width: 100%;
    aspect-ratio: 16 / 9;
}
.myvideo>.swiper-wrapper>.swiper-slide>iframe{
    width: 100%;
    height: 100%;
    border: none;
    display: block;
    border-radius: 20px;
}
.myvideo>p{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: #000;
    text-align: center;
    margin-bottom: 20px;
}
.swiper-pagination{
    bottom: -4px !important;
}
.myvideo>.swiper-wrapper>{
    padding-bottom: 28px;
}
.span-YT{
    font-weight: 700;
}
.highlighter{
    color: #f50e30;
}
.slider-btn{
    position: relative;
}
.left-car, .right-car{
    position: absolute;
    z-index: 2;
    top: 100px;
}
.left-car{
    left: 14%;
}
.right-car{
    right: 0;
    right: 14%;
}
.left-car>img, .right-car>img{
    cursor: pointer;
}
.swiper-pagination-bullet-active{
    background: #fa002c !important;
}
.swiper-pagination-bullet{
    width: 100px !important;
    height: 4px !important;
    border-radius: 0 !important;
}
.telegram{
    margin-top: 100px;
}
.telegram>div{
    display: flex;
    justify-content: space-between;
}
.telegram>div>img{
    border-radius: 20px;
}
.telegram>div>div{
    padding: 57px 0px 42px 77px;
}
.telegram>div>div>h2{
    max-width: 675px;
}
.telegram>div>div>button{
    font-family: "SF Pro Display", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 156%;
    color: #fff;
    border-radius: 8px;
    background: #f50e30;
    padding: 14px 40px;
    margin-top: 40px;
    margin-bottom: 42px;
}
.process{
    padding: 100px 0;
}
.process>.container>h2{
    margin-bottom: 40px;
}
.process>.container>details{
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    padding: 32px 0 40px 109px;
}
.process>.container>details:first-child{
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}
.process>.container>details:last-child{
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.process>.container>details>summary{
    display: flex;
    align-items: center;
}
.process>.container>details>summary>p{
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 80px;
    line-height: 110%;
    color: #f50e30;
}
.process>.container>details>summary>h3{
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 122%;
    color: #000;
    margin-left: 122px;
}
.process>.container>details>summary::before{
    content: "";
    background-image: url('../img/button-top.svg');
    background-repeat: no-repeat;
    width: 64px;
    height: 64px;
    position: absolute;
    transition: transform 0.6s ease;
    right: 0;
     top: 0;
}
.process>.container>details[open] summary::before{
    transform: rotate(180deg);
}
.process-info{
    display: flex;
    justify-content: space-between;
    max-width: 954px;
    margin-left: 204px;
    margin-top: 24px;
}
.process-info>h3{
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    color: #000;
}
.process-info>p{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 156%;
    color: rgba(0, 0, 0, 0.8);
    max-width: 520px;
}
.process-info>p>a{
    display: flex;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #f50e30;
}
.process-info>p>a>img{
    margin-right: 10px;
}
.our-guarantee{
    background-image: url('../img/guarantee.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;
}
.our-guarantee>.container>.title{
    max-width: 100%;
}
.guarantee{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 8px;
}
.guaranree-item{
    box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.08);
    background: #fff;
    padding: 44px 40px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}
.guaranree-item>p{
    margin-left: 20px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    color: #000;
    max-width: 251px;
}
.guarantee-info{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}
.guarantee-info>p{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 133%;
    color: #000;
    max-width: 738px;
}
.guarantee-info>a{
    display: flex;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #f50e30;
}
.guarantee-info>a>img{
    margin-right: 10px;
}
.advantage>.container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 40px;
}
.advantage1{
    flex-basis: 57.53%;
    box-sizing: border-box;
    padding: 40px 50px 40px 44px;
    box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.08);
    background: #fff;
    border-radius: 20px;
    margin-bottom: 24px;
}
.advantage2{
    flex-basis: 40.52%;
    box-sizing: border-box;
    padding: 40px 19px 40px 44px;
    box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.08);
    background: #fff;
    border-radius: 20px;
    margin-bottom: 24px;
}
.advantage1>h3, .advantage2>h3{
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 137%;
    color: #000;
    margin-bottom: 20px;
}
.advantage1>p, .advantage2>p{
    min-width: 457px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    color: rgba(0, 0, 0, 0.8);
}
.team{
    padding: 100px 0 76px 0;
    background: #f4f6f8;
}
.team>.container>.title{
    max-width: 100%;
}
.subtitle{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 133%;
    text-align: center;
    color: #000;
    margin-top: 28px;
    margin-bottom: 40px;
}
.team-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.team-item{
    width: 411px;
    height: 496px;
    position: relative;
    margin-bottom: 24px;
}
.team-item>img{
    border-radius: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.team-item>h3, .team-item>p, .team-item>a, .team-mess, .team-item>img{
    position: absolute;
}
.team-item>h3{
    left: 32px;
    bottom: 164px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 133%;
    color: #000;
}
.team-item>p{
    left: 32px;
    bottom: 132px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: rgba(0, 0, 0, 0.5);
}
.team-item>a{
    left: 32px;
    bottom: 84px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #f50e30;
}
.team-mess{
    left: 32px;
    bottom: 32px;
    display: flex;
}
.team-mess>a{
    margin-right: 12px;
}
.team-mess>a:last-child{
    margin-right: 0px;
}
.questions{
    padding: 100px 0;
}
.questions>.container>details>summary{
    display: flex;
    align-items: center;
}
.questions>.container>h2{
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 44px;
    line-height: 123%;
    color: #000;
    margin-bottom: 40px;
}
.questions>.container>details{
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    padding: 24px 0 24px 24px;
}
.questions>.container>details:first-child{
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}
.questions>.container>details:last-child{
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.questions>.container>details>summary::before{
    content: "";
    background-image: url('../img/plus.svg');
    background-repeat: no-repeat;
    width: 64px;
    height: 64px;
    position: absolute;
    transition: transform 0.6s ease;
    right: 0;
    top: 0;
}
.questions>.container>details[open] summary::before{
    content: "";
    background-image: url('../img/minus.svg');
    background-repeat: no-repeat;
    width: 64px;
    height: 64px;
    position: absolute;
    transition: transform 0.6s ease;
    right: 0;
    top: 0px;
}
.questions>.container>details>summary>h3{
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 133%;
    color: #000;
    margin: 16px 0;
}
.questions>.container>details>p{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: rgba(0, 0, 0, 0.8);
}
.consalt{
    background-image: url('../img/consalt.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 127px 0 100px 0;
}
.consalt-box{
    display: flex;
    justify-content: space-between;
}
.form{
    margin-left: 19px;
    background-color: #fff;
    border-radius: 20px;
    padding: 40px 32px 50px 32px;
}
form{
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form>h3{
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
    color: #000;
    margin-bottom: 12px;
}
.form>p{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: rgba(0, 0, 0, 0.8);
    max-width: 393px;
    margin-bottom: 20px;
}
#tel{
    border: 1px solid #000;
    border-radius: 8px;
    padding: 18px 20px;
    width: 100%;
    box-sizing: border-box;
}
input#tel::placeholder{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.2);
}
form>button{
    border-radius: 8px;
    background: #fa002c;
    font-family: "SF Pro Display", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    color: #fff;
    padding: 16px 84px;
    margin-top: 16px;
    margin-bottom: 8px;
}
.checkbox{
    display: flex;
    align-items: center;
}
.checkbox>p{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 133%;
    color: rgba(0, 0, 0, 0.5);
    max-width: 349px;
    margin-left: 8px;
}
#checkbox{
    width: 20px;
    height: 20px;
}